# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/mooc-2018-ohjelmointi/osa00-Osa00_00.Hiekkalaatikko/nbproject/private/
/mooc-2018-ohjelmointi/osa00-Osa00_00.Hiekkalaatikko/build/
/mooc-2018-ohjelmointi/Osa01_01.Nimi/nbproject/private/
/mooc-2018-ohjelmointi-nodl/osa01-Osa01_02.HeiMaailma/nbproject/private/
/mooc-2018-ohjelmointi-nodl/osa01-Osa01_03.Kuusi/nbproject/private/
/mooc-2018-ohjelmointi-nodl/osa01-Osa01_01.AdaLovelace/nbproject/private/
/mooc-2018-ohjelmointi-nodl/osa00-Osa00_00.Hiekkalaatikko/nbproject/private/
/mooc-2018-ohjelmointi-nodl/osa01-Osa01_04.MuuttuvatMuuttujat/nbproject/private/
/mooc-2018-ohjelmointi-nodl/osa01-Osa01_05.SekunnitVuodessa/nbproject/private/
/mooc-2018-ohjelmointi-nodl/osa01-Osa01_07.Kertolasku/nbproject/private/
/mooc-2018-ohjelmointi-nodl/osa01-Osa01_06.Yhteenlasku/nbproject/private/
/mooc-2018-ohjelmointi-nodl/osa01-Osa01_08.KolmenLuvunKeskiarvo/nbproject/private/
/mooc-2018-ohjelmointi-nodl/osa01-Osa01_09.Nelilaskin/nbproject/private/
/mooc-2018-ohjelmointi-nodl/osa01-Osa01_13.KolmenLuvunSummaaja/nbproject/private/
/mooc-2018-ohjelmointi-nodl/osa01-Osa01_11.SyotetynLuvunTulostaja/nbproject/private/
/mooc-2018-ohjelmointi-nodl/osa01-Osa01_12.KahdenLuvunSummaaja/nbproject/private/
/mooc-2018-ohjelmointi-nodl/osa01-Osa01_14.Jakaja/nbproject/private/
/mooc-2018-ohjelmointi-nodl/osa01-Osa01_10.Jakolaskin/nbproject/private/
/mooc-2018-ohjelmointi-nodl/osa01-Osa01_15.YmpyranKehanPituus/nbproject/private/
/mooc-2018-ohjelmointi-nodl/osa01-Osa01_16.Ylinopeussakko/nbproject/private/
/mooc-2018-ohjelmointi-nodl/osa01-Osa01_17.Orwell/nbproject/private/
/mooc-2018-ohjelmointi-nodl/osa01-Osa01_18.Wanha/nbproject/private/
/mooc-2018-ohjelmointi-nodl/osa01-Osa01_19.PositiivinenLuku/nbproject/private/
/mooc-2018-ohjelmointi-nodl/osa01-Osa01_20.TaysiIkaisyys/nbproject/private/
/mooc-2018-ohjelmointi-nodl/osa01-Osa01_21.SuurempiTaiYhtasuuri/nbproject/private/
/mooc-2018-ohjelmointi-nodl/osa01-Osa01_24.ParitonVaiParillinen/nbproject/private/
/mooc-2018-ohjelmointi-nodl/osa01-Osa01_22.ArvosanatJaPisteet/nbproject/private/
/mooc-2018-ohjelmointi-nodl/osa01-Osa01_25.ReilutPitsabileet/nbproject/private/
/mooc-2018-ohjelmointi-nodl/osa01-Osa01_26.IanTarkistus/nbproject/private/
/mooc-2018-ohjelmointi-nodl/osa01-Osa01_27.Karkausvuosi/nbproject/private/
/mooc-2018-ohjelmointi-nodl/osa01-Osa01_23.Maara/nbproject/private/
/mooc-2018-ohjelmointi-nodl/osa01-Osa01_29.Summaaja/nbproject/private/
/mooc-2018-ohjelmointi-nodl/osa01-Osa01_28.Uudestaan/nbproject/private/
/mooc-2018-ohjelmointi-nodl/osa01-Osa01_30.Tykinkuula/nbproject/private/
/mooc-2018-ohjelmointi-nodl/osa01-Osa01_01.AdaLovelace/build/
/mooc-2018-ohjelmointi-nodl/osa01-Osa01_02.HeiMaailma/build/
/mooc-2018-ohjelmointi-nodl/osa01-Osa01_03.Kuusi/build/
/mooc-2018-ohjelmointi-nodl/osa00-Osa00_00.Hiekkalaatikko/build/
/mooc-2018-ohjelmointi-nodl/osa01-Osa01_04.MuuttuvatMuuttujat/build/
/mooc-2018-ohjelmointi-nodl/osa01-Osa01_05.SekunnitVuodessa/build/
/mooc-2018-ohjelmointi-nodl/osa01-Osa01_06.Yhteenlasku/build/
/mooc-2018-ohjelmointi-nodl/osa01-Osa01_07.Kertolasku/build/
/mooc-2018-ohjelmointi-nodl/osa01-Osa01_08.KolmenLuvunKeskiarvo/build/
/mooc-2018-ohjelmointi-nodl/osa01-Osa01_09.Nelilaskin/build/
/mooc-2018-ohjelmointi-nodl/osa01-Osa01_10.Jakolaskin/build/
/mooc-2018-ohjelmointi-nodl/osa01-Osa01_11.SyotetynLuvunTulostaja/build/
/mooc-2018-ohjelmointi-nodl/osa01-Osa01_12.KahdenLuvunSummaaja/build/
/mooc-2018-ohjelmointi-nodl/osa01-Osa01_13.KolmenLuvunSummaaja/build/
/mooc-2018-ohjelmointi-nodl/osa01-Osa01_14.Jakaja/build/
/mooc-2018-ohjelmointi-nodl/osa01-Osa01_16.Ylinopeussakko/build/
/mooc-2018-ohjelmointi-nodl/osa01-Osa01_15.YmpyranKehanPituus/build/
/mooc-2018-ohjelmointi-nodl/osa01-Osa01_17.Orwell/build/
/mooc-2018-ohjelmointi-nodl/osa01-Osa01_18.Wanha/build/
/mooc-2018-ohjelmointi-nodl/osa01-Osa01_19.PositiivinenLuku/build/
/mooc-2018-ohjelmointi-nodl/osa01-Osa01_20.TaysiIkaisyys/build/
/mooc-2018-ohjelmointi-nodl/osa01-Osa01_21.SuurempiTaiYhtasuuri/build/
/mooc-2018-ohjelmointi-nodl/osa01-Osa01_22.ArvosanatJaPisteet/build/
/mooc-2018-ohjelmointi-nodl/osa01-Osa01_23.Maara/build/
/mooc-2018-ohjelmointi-nodl/osa01-Osa01_24.ParitonVaiParillinen/build/
/mooc-2018-ohjelmointi-nodl/osa01-Osa01_25.ReilutPitsabileet/build/
/mooc-2018-ohjelmointi-nodl/osa01-Osa01_26.IanTarkistus/build/
/mooc-2018-ohjelmointi-nodl/osa01-Osa01_27.Karkausvuosi/build/
/mooc-2018-ohjelmointi-nodl/osa01-Osa01_28.Uudestaan/build/
/mooc-2018-ohjelmointi-nodl/osa01-Osa01_29.Summaaja/build/
/mooc-2018-ohjelmointi-nodl/osa01-Osa01_30.Tykinkuula/build/
/mooc-2018-ohjelmointi-nodl/osa02-Osa02_04.YhdestaSataan/nbproject/private/
/mooc-2018-ohjelmointi-nodl/osa02-Osa02_02.TyontekijanElakevakuutus/nbproject/private/
/mooc-2018-ohjelmointi-nodl/osa02-Osa02_01.PositiivisenLuvunLisaaminen/nbproject/private/
/mooc-2018-ohjelmointi-nodl/osa02-Osa02_05.SadastaYhteen/nbproject/private/
/mooc-2018-ohjelmointi-nodl/osa02-Osa02_03.KolmenLuvunSumma/nbproject/private/
/mooc-2018-ohjelmointi-nodl/osa02-Osa02_07.UseammanLuvunSumma/nbproject/private/
/mooc-2018-ohjelmointi-nodl/osa02-Osa02_06.ParillisetLuvut/nbproject/private/
/mooc-2018-ohjelmointi-nodl/osa02-Osa02_08.JuupasEipas/nbproject/private/
/mooc-2018-ohjelmointi-nodl/osa02-Osa02_11.MarsinLampotilanKeskiarvo/nbproject/private/
/mooc-2018-ohjelmointi-nodl/osa02-Osa02_09.KelvollistenLukujenLukumaara/nbproject/private/
/mooc-2018-ohjelmointi-nodl/osa02-Osa02_12.Arvauspeli/nbproject/private/
/mooc-2018-ohjelmointi-nodl/osa02-Osa02_10.KelvollistenLukujenSumma/nbproject/private/
/mooc-2018-ohjelmointi-nodl/osa02-Osa02_13.VihjaavaArvauspeli/nbproject/private/
/mooc-2018-ohjelmointi-nodl/osa02-Osa02_14.MihinJaMista/nbproject/private/
/mooc-2018-ohjelmointi-nodl/osa02-Osa02_16.RajatunLukusarjanSumma/nbproject/private/
/mooc-2018-ohjelmointi-nodl/osa02-Osa02_17.Kertoma/nbproject/private/
/mooc-2018-ohjelmointi-nodl/osa02-Osa02_15.LukusarjanSumma/nbproject/private/
/mooc-2018-ohjelmointi-nodl/osa02-Osa02_19.SilmukatLopetusMuistaminen/nbproject/private/
/mooc-2018-ohjelmointi-nodl/osa02-Osa02_18.PlaseerausOnEpatoivoista/nbproject/private/
/mooc-2018-ohjelmointi-nodl/osa02-Osa02_26.Puisevaa/nbproject/private/
/mooc-2018-ohjelmointi-nodl/osa02-Osa02_25.Numerovisa/nbproject/private/
/mooc-2018-ohjelmointi-nodl/osa02-Osa02_01.PositiivisenLuvunLisaaminen/build/
/mooc-2018-ohjelmointi-nodl/osa02-Osa02_02.TyontekijanElakevakuutus/build/
/mooc-2018-ohjelmointi-nodl/osa02-Osa02_03.KolmenLuvunSumma/build/
/mooc-2018-ohjelmointi-nodl/osa02-Osa02_04.YhdestaSataan/build/
/mooc-2018-ohjelmointi-nodl/osa02-Osa02_05.SadastaYhteen/build/
/mooc-2018-ohjelmointi-nodl/osa02-Osa02_06.ParillisetLuvut/build/
/mooc-2018-ohjelmointi-nodl/osa02-Osa02_07.UseammanLuvunSumma/build/
/mooc-2018-ohjelmointi-nodl/osa02-Osa02_08.JuupasEipas/build/
/mooc-2018-ohjelmointi-nodl/osa02-Osa02_09.KelvollistenLukujenLukumaara/build/
/mooc-2018-ohjelmointi-nodl/osa02-Osa02_10.KelvollistenLukujenSumma/build/
/mooc-2018-ohjelmointi-nodl/osa02-Osa02_11.MarsinLampotilanKeskiarvo/build/
/mooc-2018-ohjelmointi-nodl/osa02-Osa02_12.Arvauspeli/build/
/mooc-2018-ohjelmointi-nodl/osa02-Osa02_13.VihjaavaArvauspeli/build/
/mooc-2018-ohjelmointi-nodl/osa02-Osa02_14.MihinJaMista/build/
/mooc-2018-ohjelmointi-nodl/osa02-Osa02_15.LukusarjanSumma/build/
/mooc-2018-ohjelmointi-nodl/osa02-Osa02_16.RajatunLukusarjanSumma/build/
/mooc-2018-ohjelmointi-nodl/osa02-Osa02_17.Kertoma/build/
/mooc-2018-ohjelmointi-nodl/osa02-Osa02_18.PlaseerausOnEpatoivoista/build/
/mooc-2018-ohjelmointi-nodl/osa02-Osa02_19.SilmukatLopetusMuistaminen/build/
/mooc-2018-ohjelmointi-nodl/osa02-Osa02_25.Numerovisa/build/
/mooc-2018-ohjelmointi-nodl/osa02-Osa02_26.Puisevaa/build/
/mooc-2018-ohjelmointi-nodl/osa03-Osa03_05.TulostusKolmesti/nbproject/private/
/mooc-2018-ohjelmointi-nodl/osa03-Osa03_06.OnkoTotta/nbproject/private/
/mooc-2018-ohjelmointi-nodl/osa03-Osa03_07.Kayttajatunnukset/nbproject/private/
/mooc-2018-ohjelmointi-nodl/osa03-Osa03_09.Salasana/nbproject/private/
/mooc-2018-ohjelmointi-nodl/osa03-Osa03_14.TietynArvonTulostaminen/nbproject/private/
/mooc-2018-ohjelmointi-nodl/osa03-Osa03_15.IndexOutOfBoundsException/nbproject/private/
/mooc-2018-ohjelmointi-nodl/osa03-Osa03_17.EnsimmainenJaViimeinenArvo/nbproject/private/
/mooc-2018-ohjelmointi-nodl/osa03-Osa03_19.Varasto/nbproject/private/
/mooc-2018-ohjelmointi-nodl/osa03-Osa03_21.ListanSuurinLuku/nbproject/private/
/mooc-2018-ohjelmointi-nodl/osa03-Osa03_22.ListanLukujenKeskiarvo/nbproject/private/
/mooc-2018-ohjelmointi-nodl/osa03-Osa03_16.ListallaOlevienArvojenMaara/nbproject/private/
/mooc-2018-ohjelmointi-nodl/osa03-Osa03_20.ListanLukujenSumma/nbproject/private/
/mooc-2018-ohjelmointi-nodl/osa03-Osa03_18.LoytyykoListalta/nbproject/private/
/mooc-2018-ohjelmointi-nodl/osa03-Osa03_23.KysytynLuvunIndeksi/nbproject/private/
/mooc-2018-ohjelmointi-nodl/osa03-Osa03_25.Ajatustenlukija/nbproject/private/
/mooc-2018-ohjelmointi-nodl/osa03-Osa03_24.PienimmanLuvunIndeksi/nbproject/private/
/mooc-2018-ohjelmointi-nodl/osa03-Osa03_05.TulostusKolmesti/build/
/mooc-2018-ohjelmointi-nodl/osa03-Osa03_06.OnkoTotta/build/
/mooc-2018-ohjelmointi-nodl/osa03-Osa03_07.Kayttajatunnukset/build/